project_id                     = "ide-math-app"
environment                    = "dev"
region                         = "southamerica-east1"
bigquery_location              = "southamerica-east1"
runtime_service_account_id     = "glipmath-streamlit"
