[app]
app_name = "GlipMath"
environment = "local"
timezone = "America/Sao_Paulo"
app_version = "0.1.0"

[gcp]
project_id = "ide-math-app"
location = "southamerica-east1"

[bigquery]
core_dataset = "glipmath_core"
events_dataset = "glipmath_events"
analytics_dataset = "glipmath_analytics"
question_bank_table = "question_bank"
user_access_table = "user_access"
answers_table = "answers"
leaderboard_view = "v_leaderboard"
user_totals_view = "v_user_totals"
user_daily_activity_view = "v_user_daily_activity"

[auth]
redirect_uri = "http://localhost:8501/oauth2callback"
cookie_secret = "REPLACE_WITH_A_LONG_RANDOM_SECRET"
client_id = "GOOGLE_OIDC_CLIENT_ID"
client_secret = "GOOGLE_OIDC_CLIENT_SECRET"
server_metadata_url = "https://accounts.google.com/.well-known/openid-configuration"

[ai]
GEMINI_API_KEY = "REPLACE_WITH_GEMINI_API_KEY"
GEMINI_MODEL = "gemini-2.5-flash-lite"

[gcp_service_account]
type = "service_account"
project_id = "ide-math-app"
private_key_id = "REPLACE_WITH_PRIVATE_KEY_ID"
private_key = "-----BEGIN PRIVATE KEY-----\nREPLACE_WITH_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"
client_email = "glipmath-streamlit@ide-math-app.iam.gserviceaccount.com"
client_id = "REPLACE_WITH_CLIENT_ID"
auth_uri = "https://accounts.google.com/o/oauth2/auth"
token_uri = "https://oauth2.googleapis.com/token"
auth_provider_x509_cert_url = "https://www.googleapis.com/oauth2/v1/certs"
client_x509_cert_url = "https://www.googleapis.com/robot/v1/metadata/x509/glipmath-streamlit%40ide-math-app.iam.gserviceaccount.com"
universe_domain = "googleapis.com"
