[app]
environment = "local"
timezone = "America/Sao_Paulo"
storage_backend = "google_sheets"
app_version = "0.1.0"

[google_sheet]
spreadsheet_id = "YOUR_SPREADSHEET_ID"
spreadsheet_url = ""
retry_attempts = 3

[worksheets]
question_bank = "question_bank"
whitelist = "whitelist"
answers = "answers"

[local_csv]
base_dir = "data/local_dev"

[auth]
redirect_uri = "http://localhost:8501/oauth2callback"
cookie_secret = "REPLACE_WITH_A_LONG_RANDOM_SECRET"
client_id = "GOOGLE_OIDC_CLIENT_ID"
client_secret = "GOOGLE_OIDC_CLIENT_SECRET"
server_metadata_url = "https://accounts.google.com/.well-known/openid-configuration"

[gcp_service_account]
type = "service_account"
project_id = "YOUR_GOOGLE_PROJECT_ID"
private_key_id = "YOUR_PRIVATE_KEY_ID"
private_key = "-----BEGIN PRIVATE KEY-----\\nREPLACE_ME\\n-----END PRIVATE KEY-----\\n"
client_email = "YOUR_SERVICE_ACCOUNT_EMAIL"
client_id = "YOUR_SERVICE_ACCOUNT_CLIENT_ID"
auth_uri = "https://accounts.google.com/o/oauth2/auth"
token_uri = "https://oauth2.googleapis.com/token"
auth_provider_x509_cert_url = "https://www.googleapis.com/oauth2/v1/certs"
client_x509_cert_url = "https://www.googleapis.com/robot/v1/metadata/x509/YOUR_SERVICE_ACCOUNT_EMAIL"
universe_domain = "googleapis.com"
